.navbar-brand{
    font-family:phosphate;
}
#myVideo {
    position:relative ;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(20, 19, 19, 0.5);
    color: white;
    width: 30%;
    padding: 20px;
    height:733px;
    font-family:phosphate;
  }
  #button{
    margin-right:1000px;
  }

