.navbar-brand{
    font-family:phosphate;
}
#myVideo {
    position:relative ;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(20, 19, 19, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    height:709px;
    font-family:phosphate;
  }
  .h1{
    font-family:phosphate;
    color:white;
    margin-left:400px;
  }
  .sedandiv{
    background-color: coral;
    width:299px;
    margin-top:-8px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
  }
 
    
  
  #sedan1img{
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  }

  .card{
    
    margin-left:30px;
   margin-top:-10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.673),
    0 6.7px 5.3px rgba(5, 5, 5, 0.709),
    0 12.5px 10px rgba(0, 0, 0, 0.686),
    0 22.3px 17.9px rgba(0, 0, 0, 0.646),
    0 41.8px 33.4px rgba(2, 2, 2, 0.682),
    0 100px 80px rgba(7, 7, 7, 0.667);
   color:black;
  }
  .img{
    padding:5px;
  }
  h2{
    padding:5px;
  }
  h3{
    margin-left:10px;
  }
 
  #button{
   
  margin-left:195px;
  margin-top:25px;
  }
#payments{
    margin-top:-150px;
    margin-left:280px;
}
#car1{
    margin-left:700px;
    margin-top:-650px;
    
   
    
    
    

}

 
 
  


